.HomeSlider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sliderHome {
  width: 100%;
  height: 64vh;
  border-radius: 10px;
}

/* Each slide image */
.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-image {
  width: 100%;
  height: 82vh;
  object-fit: cover;
  transition: transform 6s ease;
}

/* Overlay gradient effect */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}


/* Navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color:#fff !important;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #1a1a1b !important;

}


/* Fade effect smooth */
.swiper-fade .swiper-slide {
  transition-property: opacity !important;
}


/* Responsive design */
@media (max-width: 768px) {
  .sliderHome,
  .slide-image {
    height: 55vh;
  }
}

@media (max-width: 480px) {
  .sliderHome,
  .slide-image {
    height: 45vh;
  }
}
