.ads-main {
  width: 90%;
  margin: auto;
  margin-top: 12vh;
  display: flex;
  gap: 15px;
}

/* LEFT SLIDER */
.slider-area {
  width: 75%;
  height: 380px;
  position: relative;
}

.swiperBox {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.slide-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 25%;
  right: 0%;
  width: 40%;
  color: #fff;
}

.tag {
  font-size: 14px;
  opacity: 0.7;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 8px 0;
}

.start-price {
  margin: 10px 0;
  font-size: 18px;
}

.start-price span {
  color: rgb(65, 115, 185);
  font-weight: bold;
  font-size: 22px;
}

.shop-btn {
  padding: 10px 20px;
  background: #ff385c;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.shop-btn:hover {
  transform: translateY(-2px);
}

/* TEXT ANIMATION */
.animate-text {
  animation: fadeInMove 1s ease forwards;
  opacity: 0;
}

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RIGHT SIDE BANNERS */
.right-ads {
  width: 25%;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-box {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
}
/* RIGHT SIDE TEXT OVERLAY STYLE */
.right-box-container {
  position: relative;
  height: 50%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.right-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY TEXT */
.right-text {
  position: absolute;
  top: 18%;
  left: 45%;
  color: #000;
  width: 70%;
  font-weight: 600;
  animation: fadeMove .8s ease forwards;
  opacity: 0;
}

.right-text h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.right-text p {
  font-size: 15px;
  color: #0064e6;
  font-weight: bold;
  margin-bottom: 8px;
}

/* SMALL BUTTON */
.shop-btn-small {
  padding: 7px 16px;
  background: #e63946;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
}

.shop-btn-small:hover {
  transform: scale(1.05);
}

/* TEXT ENTRY ANIMATION */
.animate-text {
  animation: fadeMove 1s ease forwards;
  opacity: 0;
}

@keyframes fadeMove {
  0% { opacity: 0; transform: translateY(15px); }
  100% { opacity: 1; transform: translateY(0); }
}
