@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

.my-container{
  width: 90%;
  margin: auto;

}
body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}
header .top-strip{border-top: 1px solid rgb(9, 9, 9); border-bottom: 1px solid black;}
.Link{
  color: rgb(56, 55, 55);
}
.Link:hover{
color: #ff5252;
}