.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.nav li {
  position: relative;
  display: inline-block;
}

.nav li:hover > button,
.nav li:hover > a {
  color: #ff5252 !important;
  text-decoration: none !important;
}
.nav li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  padding: 8px 0;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  min-width: 200px;
  transition: all 0.3s ease;
  z-index: 10;
}

.nav li:hover .submenu {
  opacity: 1 !important;
  visibility: visible !important;
  top: 80%;
}

.nav li .submenu li {
  display: block;
  position: relative;
}

.nav li .submenu li button,
.nav li .submenu li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 45px; 
  text-align: left;
  padding: 0 16px; 
  background: transparent;
  border: none;
  color: #000;
  font-size: 15px;
  text-decoration: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.nav li .submenu li button:hover,
.nav li .submenu li a:hover {
  color: #ff5252 !important;
  background: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  transform: translateX(3px);
}

.nav li .submenu li .submenu {
  position: absolute;
  top: 0;
  left: 120%;
  opacity: 0 !important;
  visibility: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  min-width: 200px;
  transition: all 0.3s ease;
  z-index: 15;
}

.nav li .submenu li:hover .submenu {
  left: 100% !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.nav li .submenu li .submenu button,
.nav li .submenu li .submenu a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 45px; 
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: transparent;
  border: none;
  text-decoration: none !important;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.nav li .submenu li .submenu button:hover,
.nav li .submenu li .submenu a:hover {
  color: #ff5252 !important;
  background: transparent !important;
  text-decoration: none !important;
  transform: translateX(3px);
}

.nav li .submenu,
.nav li .submenu li .submenu {
  transition: all 0.3s ease;
}
